{% extends "base2.html" %}
{% block title %}Venmic Consultants : Task List{% endblock %}
{% block content %}



        <div class="main wrapper cf">
            <div class="content">
                <h1>Tasks <img class="ajax-indicator hidden" src="img/ajax-loader.gif"></h1>
                <hr>
                <!-- <a href="/tasks/newtask" class="button no-fill"><span>+</span>Add Task</a> -->
                <ul class="tasks-container">
                </ul>
            </div>
        </div>      
        
        
        
        <script>
            $(document).ready(function(){
                getTasks('http://venmicconsultants.com/api/tasks/?format=json');
            });
        </script>
{% endblock %}
