{% load i18n %}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta property="og:title" content="Venmic Consultants" /> 
		<meta property="og:description" content="" /> 
		<meta property="og:url" content="http://www.venmic.com/">
		<meta property="og:type" content="website">
		<meta property="og:image" content="">
		<title>Venmic Consultants</title>
		<link rel="shortcut icon" href="" />
		<link rel="stylesheet" href="{{ STATIC_URL }}assets/css/foundation.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}assets/font-awesome/css/font-awesome.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}assets/js/pace/themes/pace-theme-minimal.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}assets/css/venmic.css" />
		<script src="{{ STATIC_URL }}assets/js/vendor/jquery.js"></script>
		<script src="{{ STATIC_URL }}assets/js/vendor/modernizr.js"></script>
	</head>
	<body>
		<div class="full-size venmic-landing-container">
			<div id="venmic-header" class="large-12 columns medium-12 columns fixed venmic-header active">
				<a href="javascript;" class="icon"></a>
				<a href="/"><img src="{{ STATIC_URL }}assets/img/logo.png" height="80" width="145"></a>
				<i id="nav-bar-small" class="fa fa-bars show-for-small-only nav-bar-small"></i>
				<ul class="show-for-medium-up nav-options">
					<li><a class="nav-link" href="/">Home</a></li>
					<li><a class="nav-link" href="/about">About Us</a></li>
					<li><a class="nav-link" href="/services">Services&nbsp;|</a><i id="services-sub-nav-trigger" class="fa fa-chevron-down services-arrow"></i></li>
					<ul id="services-sub-nav" class="services-sub-nav">
						<li><a id="services-valuation" href="/valuation" class="nav-services hide" slide-id="1">Valuation</a></li>
						<li><a id="services-s-letting" href="/sales" class="nav-services hide" slide-id="2">Sales &amp; Letting</a></li>
						<li><a id="services-pf-management" href="/properties" class="nav-services hide" slide-id="3">Property &amp; Facility Management</a></li>	
					</ul>
					<li><a href="/login" class="nav-link">Log In</a></li>
					<li><a class="nav-link" href="/contact">Contact Us</a></li>	
				</ul>
				<ul id="nav-ul-small" class="show-for-small-only nav-options-small hide">
					<li><a class="nav-link" href="/">Home</a></li>
					<li><a class="nav-link" href="/about">About Us</a></li>
					<li><a class="nav-link" href="/services">Services</a></li>
					<li><a class="small-login" href="/login">Log In</a></li>
					<li><a class="nav-link" href="/contact">Contact Us</a></li>
				</ul>
			</div>
		</div>
		
    {% block content %}

    {% endblock %}
		<div class="full-size venmic-footer-banner">
			<div class="row">
				<div class="large-12 columns medium-12 columns venmic-footer">
					<div class="large-4 columns medium-4 columns">
						<ul class="contact">
							<li><i class="fa fa-road"></i>&nbsp;3rd Floor, Deresh Towers, Murang'a Road</li>
							<li><i class="fa fa-archive"></i>&nbsp;P.O.Box 10421-00200 Nairobi, Kenya</li>
							<li><i class="fa fa-phone"></i>&nbsp;+254703584695</li>
							
							<li><i class="fa fa-envelope"></i>&nbsp;info@venmicconsultants.com</li>
							<li><i class="fa fa-envelope"></i>&nbsp;info.kerugoya@venmicconsultants.com</li>
						</ul>
					</div>	
					<div class="large-4 columns medium-4 columns">
						<ul class="creds">
							<li>Venmic Consultants &copy; 2014</li>
						</ul>
					</div>
					<div class="large-4 columns medium-4 columns">  
						<p class="social">Keep in touch with us on social media</p>
						<ul class="social">
							
                        <li><a href="https://twitter.com/venmic_consult" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name"></span></a></li>
                        <li><a href="https://www.facebook.com/VenmicConsultants?fref=ts" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name"></span></a></li>
                    
						</ul>
					</div>
				</div>    
			</div>  
		</div>
		<script src="{{ STATIC_URL }}assets/js/foundation.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/jquery-validation/dist/jquery.validate.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/classie/classie.js"></script>
		<script src="{{ STATIC_URL }}assets/js/pace/pace.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/venmic-login.js"></script>
		<script>
			$(document).foundation();
		</script>
	</body>
</html>		