{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Venmic | Home{% endblock %}</title>
    <link href="{{ STATIC_URL }}css/font-awesome/css/font-awesome.min.css" reL="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootcamp.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/header-edit.css" reL="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{{ STATIC_URL }}js/jquery-2.1.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootcamp.js"></script>
    <script src="{{ STATIC_URL }}js/classie.js"></script>
    {% block head %}
    {% endblock head %}
  </head>
  <body>
    {% block body %}
      <header>
        <nav class="navbar navbar-default navbar-fixed-top venmic-header" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <i id="open-small-menu" class="fa fa-navicon open-menu visible-xs visible-sm"></i>
              <a href="{% url 'feeds' %}"><img src="{{ STATIC_URL }}img/logo.png" height="80" width="145"></a>
            </div>
            <div class="visible-xs visible-sm small-menu" id="menu">
              <ul class="nav navbar-nav navbar-options2">
                <li><a href="{% url 'notifications' %}">{% trans 'Notifications' %}</a></li>
                <li><a href="{% url 'feeds' %}">{% trans 'Feeds' %}</a></li>
                <li><a href="{% url 'articles' %}">{% trans 'Articles' %}</a></li>
                <li><a href="{% url 'questions' %}">{% trans 'Q&A' %}</a></li>
                <li><a href="{% url 'tasks' %}">{% trans 'Valuation' %}</a></li>
                <li><a href="{% url 'search' %}"><i class="fa fa-search"></i>{% trans 'Search' %}</a></li>
                <li><a href="{% url 'inbox' %}"><i class="fa fa-inbox"></i>{% trans 'Inbox' %}</a></li>
                <li><a href="{% url 'settings' %}"><i class="fa fa-gear"></i>{% trans 'Account Settings' %}</a></li>
                <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>{% trans 'Logout' %}</a></li>  
              </ul>
            </div>
            <div class="navbar-collapse collapse header-menu hidden-xs hidden-sm">
              <ul class="nav navbar-nav navbar-options">
                <li>
                  <a href="#" id="notifications" data-container="body" data-toggle="popover" data-placement="bottom" title="Notifications">
                    <span class="glyphicon glyphicon-bell"></span>
                  </a>
                </li>
                <li><a href="{% url 'feeds' %}">{% trans 'Feeds' %}</a></li>
                <li><a href="{% url 'articles' %}">{% trans 'Articles' %}</a></li>
                <li><a href="{% url 'questions' %}">{% trans 'Q&A' %}</a></li>
                <li><a href="{% url 'tasks' %}">{% trans 'Valuation' %}</a></li>
              </ul>
              {% if not hide_search %}
                <form class="navbar-form navbar-left" role="search" action="{% url 'search' %}">
                  <div class="input-group" style="width:210px">
                    <input type="text" class="form-control" name="q" placeholder="Search">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                  </div>
                </form>
              {% endif %}
              <ul class="nav navbar-nav navbar-right profile-tab">
                <li>
                  <a href="{% url 'profile' user.username %}" class="profile-tab-link">{{ user.profile.get_screen_name }}</a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle profile-tab-link" data-toggle="dropdown"><b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'inbox' %}"><span class="badge pull-right" id="unread-count">0</span> Inbox</a></li>
                    <li><a href="{% url 'settings' %}">{% trans 'Account Settings' %}</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'logout' %}">{% trans 'Log out' %}</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <main>
        <div class="container">
          <div class="col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-1 col-sm-10 col-sm-offset-1 body-container">
            {% block main %}
            {% endblock main %}
          </div>
        </div>
      </main>
      <script src="{{ STATIC_URL }}js/notifications.js"></script>
      <script src="{{ STATIC_URL }}js/check_messages.js"></script>
    {% endblock body %}
    <!--<script src="{{ STATIC_URL }}js/ga.js"></script>-->
  </body>
</html>
