{% extends 'base3.html' %}
{% block title  %} About Us {% endblock %}

{% block  content %}
{% load crispy_forms_tags %}
<div class="large-12 columns medium-12 columns venmic-about-us">
				<div class="large-12 columns medium-12 columns section-header">
					<div class="overlay"></div>
					<h2>About Us</h2>
				</div>
				<div class="large-12 columns medium-12 columns vas-info">
					<p>Founded in the year 2009 on the strong foundation of quality and reliable services, venmic consultants limited has progressively offered real estate consultancy to an ever growing clientele.</p>
					<p>Venmic consultants limited prides itself as being able to build a strong dynamic team of qualified professionals who thrive on customer satisfaction as well as professionalism.
					Our professional services are:</p>
					<ul>
						<li><i class="fa fa-check-square-o"></i>Valuation</li>
						<li><i class="fa fa-check-square-o"></i>Property &amp; Facility Management</li>
						<li><i class="fa fa-check-square-o"></i>Sales &amp; Letting</li>
						
					</ul>
					<p>Our services continue to improve in nature and stature in conformity with industry’s best practices, legislative frameworks as well as technological advancement.</p>
					<p>We place our clients at the very core of our business. At venmic consultants limited, our clients are assured of the best services as we believe in professional touch to every job, value addition and excellence in all that we do.</p>
					<p>Our vision of <b>profession touch</b>, <b>value addition</b> and <b>excellence</b> inspires our firm belief in quality reliable services. This is reaffirmed by our mission to provide quality dependable services that add value to our clients whilst embracing professional standards, ethics and environmental sustainability.</p>
					<p>At venmic consultants limited, our core values define who we are. These are:</p>
					<ul>
						<li><i class="fa fa-check-square-o"></i>Reliability</li>
						<li><i class="fa fa-check-square-o"></i>Integrity</li>
						<li><i class="fa fa-check-square-o"></i>Competence</li>
						<li><i class="fa fa-check-square-o"></i>Proactiveness</li>
						<li><i class="fa fa-check-square-o"></i>Innovativeness</li>
						<li><i class="fa fa-check-square-o"></i>Environmental consciousness</li>
						<li><i class="fa fa-check-square-o"></i>Team spirit</li>
						<li><i class="fa fa-check-square-o"></i>Staff motivation</li>
					</ul>

					<p>Please contact us today <a href="/contact">Contact Us</a> we are eager to hear from you.</p>
				</div>
			</div>
			<div class="large-12 columns medium-12 columns services-indicator" id="services">
				<!-- This div is used for padding -->
			</div>
			{% endblock %}
			