{% extends 'base3.html' %}
{% block title  %} Services | Properties {% endblock %}

{% block  content %}
{% load crispy_forms_tags %}
</br>
</br>
</br>
</br>
</br>
</br>

<div class="large-12 columns medium-12 columns venmic-services">
				<div class="large-12 columns medium-12 columns section-header">
					<div class="overlay"></div>
					<h2>Services</h2>
				</div>
				<div class="large-12 columns medium-12 columns vs-info">
						<h3>Property &amp; Facility Management</h3>
						<hr>
						<p>We offer property management solutions to property owners through our dedicated team of property managers. We also employ modern technological solutions to property management to make it easier for both the tenant and property owner; thereby ensuring that all parties derive satisfaction from use and or ownership of the property</p>
						<h4>As a property manager we carry out the following duties:</h4>
						<ol>
							<li>Rent collection</li>
 							<li>Repairs and maintanance</li>
							<li>Lease and administration</li>
						</ol>
						<p>At venmic consultants limited, property owners can sit back and enjoy the pleasure of owning property while tenants can be assured of quite the enjoyment of their rented premises.</p>
					</div>
				</div>
					{% endblock %}