{% extends 'base3.html' %}
{% block title  %} Services | Services {% endblock %}

{% block  content %}
{% load crispy_forms_tags %}
</br>
</br>
</br>
</br>
</br>
</br>
<div class="large-12 columns medium-12 columns venmic-services">
				<div class="large-12 columns medium-12 columns section-header">
					
					<h2>Services</h2>
				</div>
				<div class="large-12 columns medium-12 columns vs-info">
					
						<h3>Valuation</h3>
						<hr>
						<p>Our highly qualified valuers are committed to delivering quality reports and valuations within the shortest time possible. Through our commitment of quality reliable services our client base is growing in leaps and bounds.</p>
						
						
						<p>Our valuation process and procedure is designed to produce quality reports and valuations in the shortest time possible and in conformity  with the agreed Terms of Referrence, Valuation Laws and the International Valuation Standards .</p>
						
 						<p>Start a conversation with us  <a class="nav-link" href="/contact-us">(Contact Us)</a> .</p>
					</div>
					<div class="large-12 columns medium-12 columns vs-info">
					
						<h3>Sales &amp; Letting</h3>
						<hr>
						<h4>Sales</h4>
						<p>At Venmic  we are enthusiastic about successfully completing a sales transaction. We  not only source for buyers for your property but also find your dream property for you to purchase. We walk with you throughout the selling/purchase process .</p>
						<h4>Letting </h4>
						<p>We are excited about going out there and finding a quality tenant for your house or even finding your dream house for your letting.</p>

						<p>Start a conversation with us  <a class="nav-link" href="/contact-us">(Contact Us)</a>
					</div>
					<div class="large-12 columns medium-12 columns vs-info">
						<h3>Property &amp; Facility Management</h3>
						<hr>
						<p>We offer property and facility management solutions to property owners through our dedicated team of property managers. We also employ modern technological solutions to property/facility management to make it easier for both the tenant and property owner; thereby ensuring that all parties derive satisfaction from use and or ownership of the property</p>
						<h4>Our core functions include among others:</h4>
						<ol>
							<li>Letting</li>
							<li>Rent Management</li>
 							<li>Repairs and Maintanance </li>
							<li>Lease and Administration</li>
							<li>Utilities Mnagement </li>
						</ol>
						<p>At Venmic , property owners can sit back and enjoy the pleasure of owning property while tenants can be assured of a comfortable stay of their rented premises.</p>

						<p>Start a conversation with us  <a class="nav-link" href="/contact-us">(Contact Us)</a>
					</div>
				</div>
			</div>
			{% endblock %}