{% extends 'base3.html' %}
{% block title  %} Services | Valuation {% endblock %}

{% block  content %}
{% load crispy_forms_tags %}
</br>
</br>
</br>
</br>
</br>
</br>
					
<div class="large-12 columns medium-12 columns venmic-services">
				<div class="large-12 columns medium-12 columns section-header">
					<div class="overlay"></div>
					<h2>Services</h2>
				</div>
				<div class="large-12 columns medium-12 columns vs-info">
						<h3>Valuation</h3>
						<hr>
						<p>Our highly qualified valuers are committed to delivering quality reports and valuations within the shortest time possible. Through our committment to quality reliable services our client base is growing in leaps and bounds.</p>
						<p>Please contact us today <a href="/contact">Contact Us</a> we are eager to hear from you.</p>
						
					</div>

					{% endblock %}